body {
  font-family: system-ui, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  align-items: center;
  display: flex;
  margin: 0 auto;

  .main {
    &__container {
      display: flex;
      margin: 0 auto;
      width: $container-width;
      flex-direction: column;
    }
  }
}